# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.db
*.sqlite3

# OS junk
.DS_Store
Thumbs.db

# Virtual environment folders
.env
venv/
env/
.venv/

# IDE stuff
.idea/
.vscode/
*.swp

# Kivy & Buildozer build outputs (optional but useful)
*.apk
*.keystore
*.spec
.buildozer/
build/
bin/
dist/